@import "tailwindcss";
@config "../../tailwind.config.ts";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

body {
    font-family: "Aeroport", sans-serif;
    padding: 8px;
}

body[data-scroll-locked] {
    padding: 8px !important;
}

@layer base {
    :root {
        --background: 0 0% 100%;
        --background-section-color: 158 15% 96%;
        --foreground: 158 30% 15%;
        --placeholder: 158 10% 40%;

        --surface-secondary: 158 100% 19%;

        --fontcolor: 0 0% 20%;
        --foreground-font-color: 158 10% 35%;
        --secondary-font-color: 158 8% 26%;
        --terciary-font-color: 158 6% 46%;
        --input-font-color: 158 8% 55%;

        --table-row: 158 15% 96%;
        --table-row-hover-link: 158 20% 90%;

        --card: 0 0% 100%;
        --card-foreground: 158 30% 15%;

        --popover: 0 0% 100%;
        --popover-foreground: 158 30% 15%;

        --primary: 204.67 97.83% 36.08%;
        --primary-foreground: 0 0% 80%;

        --secondary: 158 15% 94%;
        --secondary-foreground: 158 30% 15%;

        --muted: 240 3.83% 30.08%;
        --muted-foreground: 240 3.83% 10.08%;

        --accent: 0 0% 95%;
        --accent-actived: var(--primary);
        --accent-foreground: 158 30% 15%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 100%;

        --border: 158 12% 88%;
        --input: 158 12% 88%;
        --ring: 158 100% 19%;
        --focus-ring: 43 100% 55%;
        --hover-ring: 158 20% 92%;

        --radius: 0.5rem;
        --row-checked: 158 20% 92%;

        --zinc-600: 158 8% 34%;

        --warning: 48 96.49% 88.82%;
        --warning-foreground: 158 30% 15%;
    }
}

@layer base {
    * {
        @apply border-[hsl(var(--border))];
    }

    body {
        @apply bg-[hsl(var(--background))] text-[hsl(var(--foreground))];
    }

    body * {
        font-family: inherit;
    }

    .highlight {
        border: 1px solid red;
    }

    /* Typography */
    h1 {
        font-size: 2.25rem;
        line-height: 2.5rem;
        font-weight: 800;
        letter-spacing: -0.025em;
        scroll-margin: 5rem;

        @media (min-width: 1024px) {
            font-size: 3rem;
            line-height: 1;
        }
    }

    h2 {
        font-feature-settings: "dlig" on;

        font-size: 1px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px;
        /* 155.556% */
    }

    h3 {
        margin-top: 2rem;
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 600;
        letter-spacing: -0.025em;
        scroll-margin: 5rem;
    }

    h4 {
        font-size: 1.25rem;
        line-height: 1.75rem;
        font-weight: 400;
        letter-spacing: -0.025em;
        scroll-margin: 5rem;
    }

    p {
        line-height: 1.75rem;
    }

    /* Global font color */
    h1,
    h2,
    h3,
    h4 {
        @apply text-[hsl(var(--primary))];
    }

    input,
    select {
        border-radius: 6px;
        border: 1px solid #e5e7eb;
        width: 100%;
        background-color: white;
        padding: 12px;
    }

    /* Sidebar effect */
    .sidebar-animation {
        transition-timing-function: cubic-bezier(0.96, -0.29, 0.15, 0.47) !important;
    }

    /* Cemig gradient */
    .bg-custom-gradient {
        background: linear-gradient(135deg, #006341 0%, #004d33 100%);
    }

    .bg-cemig-accent {
        background: linear-gradient(135deg, #FFB81C 0%, #FFA500 100%);
    }

    .badge-is-enriched {
        background: hsla(115, 42%, 48%, 0.12);
    }

    .badge-is-not-enriched {
        background: hsla(31, 100%, 47%, 0.12);
    }

    .text-badge-is-enrichement {
        color: hsla(115, 44%, 45%, 1);
    }

    .text-badge-is-not-enrichement {
        color: hsla(31, 100%, 47%, 1);
    }

    .overlay-dialog {
        background: #000000cc;
    }

    .input-data-checked {
        background-color: hsla(210, 62%, 52%, 1);
    }

    .break-word-custom {
        word-break: break-word;
    }
}