name: Publish to NPM

on:
  push:
    tags:
      - 'v*'

permissions:
  id-token: write
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/setup-node@v4
        with:
          node-version: '24'
          registry-url: 'https://registry.npmjs.org'
      - run: corepack enable
      - run: pnpm install --frozen-lockfile
      - run: pnpm run build --if-present
      - run: pnpm publish --access public
